<div style="text-align: justify;">

<h5>
    From : <span style="color: blue; text-decoration: underline;">{{source}}</span>
</h5>
<p>
    {{ message }}
</p>
<br>
<small style="opacity: 0.8; font-style: italic;">
    Message de la page de contact sur https://betweenus-live.com
</small>
</div>


