<div style="text-align: center;">
<img src="https://res.cloudinary.com/team-stenny/image/upload/v1627759198/dark-light_asrplz.jpg" 
alt="" style="max-width: 300px;">
<h4>Bonjour <span style="color: #FB77FC; font-weight: bold;">{{ name }}</span>,</h4>

<p>
    Malheureusement, votre inscription en tant que <span style="font-weight: bold;">Modèle</span> sur BETWEENUS.LIVE <br>
    a été <span style="font-weight: bold; color: red">rejeté </span>par l'administrateur. <br>
    Ayant pour motif : {{motif}} .<br>
    Sachant que vous pourrez toujours vous inscrire en tant que modèle <br>
    et avec les formalités requis par le site. 
</p>
<br>
<small style="opacity: 0.8; font-style: italic;">A BIENTOT SUR BetweenUs.</small>
</div>


