<div style="text-align: center;">
<img src="https://res.cloudinary.com/team-stenny/image/upload/v1627759198/dark-light_asrplz.jpg" 
alt="" style="max-width: 300px;">
<h4>Bonjour <span style="color: #FB77FC; font-weight: bold;">{{ name }}</span>,</h4>

<p>
    Votre inscription en tant que <span style="font-weight: bold;">Modèle</span> sur BETWEENUS.LIVE <br>
    a été <span style="font-weight: bold; color: green">validé </span>par l'administrateur. <br>
    Vous pouvez maintenant connecter à votre compte. <br>
    Veuillez compléter votre profil ainsi que vos albums photos (FREE, PRIVATE, VIP) <br>
    pour avoir plus d'attraction à vos clients favoris.
</p>
<br>
<small style="opacity: 0.8; font-style: italic;">A BIENTOT SUR BetweenUs.</small>
</div>


